In [1]:
import pandas as pd
import json

# Cargar el dataset
df = pd.read_csv('movies_dataset.csv')

# Función para convertir comillas simples a dobles y cargar JSON
def load_json(x):
    if pd.notna(x):
        try:
            return json.loads(x.replace("'", '"'))
        except json.JSONDecodeError:
            return {}  # Retorna un diccionario vacío en caso de error
    else:
        return {}

# Convertir los strings de diccionario en diccionarios reales
df['belongs_to_collection'] = df['belongs_to_collection'].apply(load_json)

# Expandir el diccionario en columnas separadas
collection_cols = pd.json_normalize(df['belongs_to_collection'])
collection_cols.columns = ['collection_' + col for col in collection_cols.columns]  # Renombrar columnas para claridad
df = df.join(collection_cols)

print(df.head())

   adult                              belongs_to_collection    budget  \
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1  False                                                 {}  65000000
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3  False                                                 {}  16000000
4  False  {'id': 96871, 'name': 'Father of the Bride Col...         0

                                              genres  \
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                     [{'id': 35, 'name': 'Comedy'}]

                               homepage     id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story    862  tt0114709                en
1                                   NaN   8844  tt0113497                en
2                                   NaN  15602  tt0113228                en
3                                   NaN  31357  tt0114885                en
4                                   NaN  11862  tt0113041                en

                original_title  \
0                    Toy Story
1                      Jumanji
2             Grumpier Old Men
3            Waiting to Exhale
4  Father of the Bride Part II

                                            overview  ...    status  \
0  Led by Woody, Andy's toys live happily in his ...  ...  Released
1  When siblings Judy and Peter discover an encha...  ...  Released
2  A family wedding reignites the ancient feud be...  ...  Released
3  Cheated on, mistreated and stepped on, the wom...  ...  Released
4  Just when George Banks has recovered from his ...  ...  Released

                                             tagline  \
0                                                NaN
1          Roll the dice and unleash the excitement!
2  Still Yelling. Still Fighting. Still Ready for...
3  Friends are the people who let you be yourself...
4  Just When His World Is Back To Normal... He's ...

                         title  video vote_average  vote_count  collection_id  \
0                    Toy Story  False          7.7      5415.0        10194.0
1                      Jumanji  False          6.9      2413.0            NaN
2             Grumpier Old Men  False          6.5        92.0       119050.0
3            Waiting to Exhale  False          6.1        34.0            NaN
4  Father of the Bride Part II  False          5.7       173.0        96871.0

                  collection_name            collection_poster_path  \
0            Toy Story Collection  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg
1                             NaN                               NaN
2       Grumpy Old Men Collection  /nLvUdqgPgm3F85NMCii9gVFUcet.jpg
3                             NaN                               NaN
4  Father of the Bride Collection  /nts4iOmNnq7GNicycMJ9pSAn204.jpg

           collection_backdrop_path
0  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1                               NaN
2  /hypTnLot2z8wpFS7qwsQHW1uV8u.jpg
3                               NaN
4  /7qwE57OVZmMJChBpLEbJEmzUydk.jpg

[5 rows x 28 columns]

C:\Users\germa\AppData\Local\Temp\ipykernel_41944\3640501675.py:5: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('movies_dataset.csv')

In [2]:
df.shape

(45466, 28)

In [3]:
import pandas as pd
import json

# Función para cargar y limpiar datos JSON
def clean_json(data):
    return json.loads(data.replace("'", '"')) if pd.notna(data) else None

# Limpiar y convertir datos JSON en la columna 'genres'
df['genres'] = df['genres'].apply(clean_json)

# Expandir la columna 'genres' en múltiples filas
genres_expanded = df.explode('genres')

# Normalizar los datos de 'genres' y unir con el DataFrame original
genres_normalized = pd.json_normalize(genres_expanded['genres'])
genres_normalized.columns = ['genre_' + col for col in genres_normalized.columns]  # Renombrar columnas para claridad
df = genres_expanded.drop('genres', axis=1).join(genres_normalized)

print(df.head())

   adult                              belongs_to_collection    budget  \
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1  False                                                 {}  65000000
1  False                                                 {}  65000000

                               homepage    id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story   862  tt0114709                en
0  http://toystory.disney.com/toy-story   862  tt0114709                en
0  http://toystory.disney.com/toy-story   862  tt0114709                en
1                                   NaN  8844  tt0113497                en
1                                   NaN  8844  tt0113497                en

  original_title                                           overview  \
0      Toy Story  Led by Woody, Andy's toys live happily in his ...
0      Toy Story  Led by Woody, Andy's toys live happily in his ...
0      Toy Story  Led by Woody, Andy's toys live happily in his ...
1        Jumanji  When siblings Judy and Peter discover an encha...
1        Jumanji  When siblings Judy and Peter discover an encha...

  popularity  ...      title  video vote_average vote_count  collection_id  \
0  21.946943  ...  Toy Story  False          7.7     5415.0        10194.0
0  21.946943  ...  Toy Story  False          7.7     5415.0        10194.0
0  21.946943  ...  Toy Story  False          7.7     5415.0        10194.0
1  17.015539  ...    Jumanji  False          6.9     2413.0            NaN
1  17.015539  ...    Jumanji  False          6.9     2413.0            NaN

        collection_name            collection_poster_path  \
0  Toy Story Collection  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg
0  Toy Story Collection  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg
0  Toy Story Collection  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg
1                   NaN                               NaN
1                   NaN                               NaN

           collection_backdrop_path genre_id genre_name
0  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg     16.0  Animation
0  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg     16.0  Animation
0  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg     16.0  Animation
1                               NaN     35.0     Comedy
1                               NaN     35.0     Comedy

[5 rows x 29 columns]

In [4]:
df.shape

(93548, 29)

In [5]:
import pandas as pd
import json

# función para manejar errores de formato en JSON
def clean_json(data):
    try:
        return json.loads(data.replace("'", '"')) if pd.notna(data) else None
    except json.JSONDecodeError:
        return None  # Retorna None si hay un error de decodificación

# Aplicar la función para limpiar los datos JSON
df['production_companies'] = df['production_companies'].apply(clean_json)

# Filtrar las filas donde 'production_companies' es None debido a errores de JSON
df = df[df['production_companies'].notna()]

# Expandir la columna 'production_companies' en múltiples filas
companies_expanded = df.explode('production_companies')

# Normalizar los datos de 'production_companies' y unir con el DataFrame original
companies_normalized = pd.json_normalize(companies_expanded['production_companies'])
companies_normalized.columns = ['company_' + col for col in companies_normalized.columns]  # Renombrar columnas para claridad
df = companies_expanded.drop('production_companies', axis=1).join(companies_normalized)

# Imprimir las primeras filas para verificar
print(df.head())

   adult                              belongs_to_collection    budget  \
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1  False                                                 {}  65000000
1  False                                                 {}  65000000

                               homepage    id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story   862  tt0114709                en
0  http://toystory.disney.com/toy-story   862  tt0114709                en
0  http://toystory.disney.com/toy-story   862  tt0114709                en
1                                   NaN  8844  tt0113497                en
1                                   NaN  8844  tt0113497                en

  original_title                                           overview  \
0      Toy Story  Led by Woody, Andy's toys live happily in his ...
0      Toy Story  Led by Woody, Andy's toys live happily in his ...
0      Toy Story  Led by Woody, Andy's toys live happily in his ...
1        Jumanji  When siblings Judy and Peter discover an encha...
1        Jumanji  When siblings Judy and Peter discover an encha...

  popularity  ... vote_average vote_count collection_id       collection_name  \
0  21.946943  ...          7.7     5415.0       10194.0  Toy Story Collection
0  21.946943  ...          7.7     5415.0       10194.0  Toy Story Collection
0  21.946943  ...          7.7     5415.0       10194.0  Toy Story Collection
1  17.015539  ...          6.9     2413.0           NaN                   NaN
1  17.015539  ...          6.9     2413.0           NaN                   NaN

             collection_poster_path          collection_backdrop_path  \
0  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
0  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
0  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1                               NaN                               NaN
1                               NaN                               NaN

  genre_id genre_name             company_name company_id
0     16.0  Animation  Pixar Animation Studios        3.0
0     16.0  Animation  Pixar Animation Studios        3.0
0     16.0  Animation  Pixar Animation Studios        3.0
1     35.0     Comedy  Pixar Animation Studios        3.0
1     35.0     Comedy  Pixar Animation Studios        3.0

[5 rows x 30 columns]

In [6]:
df.shape

(174002, 30)

In [7]:
# Aplicar funcion mpara limpiar los datos JSON en 'spoken_languages'
df['spoken_languages'] = df['spoken_languages'].apply(clean_json)

# Filtrar las filas donde 'spoken_languages' es None debido a errores de JSON
df = df[df['spoken_languages'].notna()]

# Expandir la columna 'spoken_languages' en múltiples filas
languages_expanded = df.explode('spoken_languages')

# Normalizar los datos de 'spoken_languages' y unir con el DataFrame original
languages_normalized = pd.json_normalize(languages_expanded['spoken_languages'])
languages_normalized.columns = ['language_' + col for col in languages_normalized.columns]  # Renombrar columnas para claridad
df = languages_expanded.drop('spoken_languages', axis=1).join(languages_normalized)

# Imprimir las primeras filas
print(df.head())

   adult                              belongs_to_collection    budget  \
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1  False                                                 {}  65000000
1  False                                                 {}  65000000

                               homepage    id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story   862  tt0114709                en
0  http://toystory.disney.com/toy-story   862  tt0114709                en
0  http://toystory.disney.com/toy-story   862  tt0114709                en
1                                   NaN  8844  tt0113497                en
1                                   NaN  8844  tt0113497                en

  original_title                                           overview  \
0      Toy Story  Led by Woody, Andy's toys live happily in his ...
0      Toy Story  Led by Woody, Andy's toys live happily in his ...
0      Toy Story  Led by Woody, Andy's toys live happily in his ...
1        Jumanji  When siblings Judy and Peter discover an encha...
1        Jumanji  When siblings Judy and Peter discover an encha...

  popularity  ... collection_id       collection_name  \
0  21.946943  ...       10194.0  Toy Story Collection
0  21.946943  ...       10194.0  Toy Story Collection
0  21.946943  ...       10194.0  Toy Story Collection
1  17.015539  ...           NaN                   NaN
1  17.015539  ...           NaN                   NaN

             collection_poster_path          collection_backdrop_path  \
0  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
0  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
0  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1                               NaN                               NaN
1                               NaN                               NaN

   genre_id genre_name             company_name company_id language_iso_639_1  \
0      16.0  Animation  Pixar Animation Studios        3.0                 en
0      16.0  Animation  Pixar Animation Studios        3.0                 en
0      16.0  Animation  Pixar Animation Studios        3.0                 en
1      35.0     Comedy  Pixar Animation Studios        3.0                 en
1      35.0     Comedy  Pixar Animation Studios        3.0                 en

   language_name
0        English
0        English
0        English
1        English
1        English

[5 rows x 31 columns]

In [8]:
df.shape

(240984, 31)

In [9]:
# Aplicar funsion limpiar los datos JSON en 'production_countries'
df['production_countries'] = df['production_countries'].apply(clean_json)

# Filtrar las filas donde 'production_countries' es None debido a errores de JSON
df = df[df['production_countries'].notna()]

# Expandir la columna 'production_countries' en múltiples filas
countries_expanded = df.explode('production_countries')

# Normalizar los datos de 'production_countries' y unir con el DataFrame original
countries_normalized = pd.json_normalize(countries_expanded['production_countries'])
countries_normalized.columns = ['country_' + col for col in countries_normalized.columns]  # Renombrar columnas para claridad
df = countries_expanded.drop('production_countries', axis=1).join(countries_normalized)

# Imprimir las primeras filas
print(df.head())

   adult                              belongs_to_collection    budget  \
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1  False                                                 {}  65000000
1  False                                                 {}  65000000

                               homepage    id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story   862  tt0114709                en
0  http://toystory.disney.com/toy-story   862  tt0114709                en
0  http://toystory.disney.com/toy-story   862  tt0114709                en
1                                   NaN  8844  tt0113497                en
1                                   NaN  8844  tt0113497                en

  original_title                                           overview  \
0      Toy Story  Led by Woody, Andy's toys live happily in his ...
0      Toy Story  Led by Woody, Andy's toys live happily in his ...
0      Toy Story  Led by Woody, Andy's toys live happily in his ...
1        Jumanji  When siblings Judy and Peter discover an encha...
1        Jumanji  When siblings Judy and Peter discover an encha...

  popularity  ...            collection_poster_path  \
0  21.946943  ...  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg
0  21.946943  ...  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg
0  21.946943  ...  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg
1  17.015539  ...                               NaN
1  17.015539  ...                               NaN

           collection_backdrop_path  genre_id  genre_name  \
0  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg      16.0   Animation
0  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg      16.0   Animation
0  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg      16.0   Animation
1                               NaN      35.0      Comedy
1                               NaN      35.0      Comedy

              company_name company_id language_iso_639_1 language_name  \
0  Pixar Animation Studios        3.0                 en       English
0  Pixar Animation Studios        3.0                 en       English
0  Pixar Animation Studios        3.0                 en       English
1  Pixar Animation Studios        3.0                 en       English
1  Pixar Animation Studios        3.0                 en       English

   country_iso_3166_1              country_name
0                  US  United States of America
0                  US  United States of America
0                  US  United States of America
1                  US  United States of America
1                  US  United States of America

[5 rows x 32 columns]

In [10]:
df.shape

(376932, 32)

In [13]:
df

,adult,belongs_to_collection,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,collection_poster_path,collection_backdrop_path,genre_id,genre_name,company_name,company_id,language_iso_639_1,language_name,country_iso_3166_1,country_name
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,16.0,Animation,Pixar Animation Studios,3.0,en,English,US,United States of America
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,16.0,Animation,Pixar Animation Studios,3.0,en,English,US,United States of America
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,16.0,Animation,Pixar Animation Studios,3.0,en,English,US,United States of America
1,False,{},65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,...,NaN,NaN,35.0,Comedy,Pixar Animation Studios,3.0,en,English,US,United States of America
1,False,{},65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,...,NaN,NaN,35.0,Comedy,Pixar Animation Studios,3.0,en,English,US,United States of America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45463,False,{},0,NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,...,NaN,NaN,35.0,Comedy,Inside Track Films,19834.0,en,English,CA,Canada
45463,False,{},0,NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,...,NaN,NaN,35.0,Comedy,Inside Track Films,19834.0,en,English,CA,Canada
45463,False,{},0,NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,...,NaN,NaN,35.0,Comedy,Inside Track Films,19834.0,en,English,CA,Canada
45464,False,{},0,NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,...,NaN,NaN,18.0,Drama,Lions Gate Films,35.0,de,Deutsch,US,United States of America
45465,False,{},0,NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,...,NaN,NaN,10749.0,Romance,United Artists,60.0,cs,Český,CA,Canada

In [14]:
# Eliminar las columnas anidadas originales
columns_to_drop = ['belongs_to_collection']
df = df.drop(columns=columns_to_drop)

# Imprimir las primeras filas del DataFrame
print(df.head())

   adult    budget                              homepage    id    imdb_id  \
0  False  30000000  http://toystory.disney.com/toy-story   862  tt0114709
0  False  30000000  http://toystory.disney.com/toy-story   862  tt0114709
0  False  30000000  http://toystory.disney.com/toy-story   862  tt0114709
1  False  65000000                                   NaN  8844  tt0113497
1  False  65000000                                   NaN  8844  tt0113497

  original_language original_title  \
0                en      Toy Story
0                en      Toy Story
0                en      Toy Story
1                en        Jumanji
1                en        Jumanji

                                            overview popularity  \
0  Led by Woody, Andy's toys live happily in his ...  21.946943
0  Led by Woody, Andy's toys live happily in his ...  21.946943
0  Led by Woody, Andy's toys live happily in his ...  21.946943
1  When siblings Judy and Peter discover an encha...  17.015539
1  When siblings Judy and Peter discover an encha...  17.015539

                        poster_path  ...            collection_poster_path  \
0  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg
0  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg
0  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg
1  /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg  ...                               NaN
1  /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg  ...                               NaN

           collection_backdrop_path  genre_id genre_name  \
0  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg      16.0  Animation
0  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg      16.0  Animation
0  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg      16.0  Animation
1                               NaN      35.0     Comedy
1                               NaN      35.0     Comedy

              company_name company_id language_iso_639_1  language_name  \
0  Pixar Animation Studios        3.0                 en        English
0  Pixar Animation Studios        3.0                 en        English
0  Pixar Animation Studios        3.0                 en        English
1  Pixar Animation Studios        3.0                 en        English
1  Pixar Animation Studios        3.0                 en        English

   country_iso_3166_1              country_name
0                  US  United States of America
0                  US  United States of America
0                  US  United States of America
1                  US  United States of America
1                  US  United States of America

[5 rows x 31 columns]

In [ ]:
df.shape

In [15]:
# Rellenar los valores nulos en las columnas 'revenue' y 'budget' con 0
df['revenue'] = df['revenue'].fillna(0)
df['budget'] = df['budget'].fillna(0)

# Verificar cambios 
print(df[['revenue', 'budget']].head())

       revenue    budget
0  373554033.0  30000000
0  373554033.0  30000000
0  373554033.0  30000000
1  262797249.0  65000000
1  262797249.0  65000000

In [16]:
df.shape

(376932, 31)

In [17]:
# Eliminar filas donde 'release_date' es nulo
df = df.dropna(subset=['release_date'])

# Verificar cambios imprimiendo las primeras filas del DataFrame
print(df['release_date'].head())

0    1995-10-30
0    1995-10-30
0    1995-10-30
1    1995-12-15
1    1995-12-15
Name: release_date, dtype: object

In [18]:
df.shape

(376762, 31)

In [19]:
# Eliminar filas duplicadas basándose en todas las columnas
df = df.drop_duplicates()

# Imprimir las primeras filas 
print(df.head())

   adult    budget                              homepage     id    imdb_id  \
0  False  30000000  http://toystory.disney.com/toy-story    862  tt0114709
1  False  65000000                                   NaN   8844  tt0113497
2  False         0                                   NaN  15602  tt0113228
3  False  16000000                                   NaN  31357  tt0114885
4  False         0                                   NaN  11862  tt0113041

  original_language               original_title  \
0                en                    Toy Story
1                en                      Jumanji
2                en             Grumpier Old Men
3                en            Waiting to Exhale
4                en  Father of the Bride Part II

                                            overview popularity  \
0  Led by Woody, Andy's toys live happily in his ...  21.946943
1  When siblings Judy and Peter discover an encha...  17.015539
2  A family wedding reignites the ancient feud be...    11.7129
3  Cheated on, mistreated and stepped on, the wom...   3.859495
4  Just when George Banks has recovered from his ...   8.387519

                        poster_path  ...            collection_poster_path  \
0  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg
1  /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg  ...                               NaN
2  /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg  ...  /nLvUdqgPgm3F85NMCii9gVFUcet.jpg
3  /16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg  ...                               NaN
4  /e64sOI48hQXyru7naBFyssKFxVd.jpg  ...  /nts4iOmNnq7GNicycMJ9pSAn204.jpg

           collection_backdrop_path  genre_id genre_name  \
0  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg      16.0  Animation
1                               NaN      35.0     Comedy
2  /hypTnLot2z8wpFS7qwsQHW1uV8u.jpg   10751.0     Family
3                               NaN      12.0  Adventure
4  /7qwE57OVZmMJChBpLEbJEmzUydk.jpg      14.0    Fantasy

              company_name company_id language_iso_639_1  language_name  \
0  Pixar Animation Studios        3.0                 en        English
1  Pixar Animation Studios        3.0                 en        English
2  Pixar Animation Studios        3.0                 en        English
3         TriStar Pictures      559.0                 en        English
4             Teitler Film     2550.0                 fr       Français

   country_iso_3166_1              country_name
0                  US  United States of America
1                  US  United States of America
2                  US  United States of America
3                  US  United States of America
4                  US  United States of America

[5 rows x 31 columns]

In [20]:
df.shape

(44862, 31)

In [21]:
# Convertir 'release_date' a formato de fecha con pandas
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce', format='%Y-%m-%d')
print(df['release_date'].head())

0   1995-10-30
1   1995-12-15
2   1995-12-22
3   1995-12-22
4   1995-02-10
Name: release_date, dtype: datetime64[ns]

In [22]:
df.shape

(44862, 31)

In [23]:
# Crear la columna 'release_year' extrayendo el año de 'release_date'
df['release_year'] = df['release_date'].dt.year

# Imprimir las primeras filas para verificar la creación de la columna
print(df[['release_date', 'release_year']].head())

  release_date  release_year
0   1995-10-30          1995
1   1995-12-15          1995
2   1995-12-22          1995
3   1995-12-22          1995
4   1995-02-10          1995

In [24]:
df.shape

(44862, 32)

In [25]:
# Asegurarse de que 'revenue' y 'budget' son numéricos y rellenar los valores nulos con 0
df['revenue'] = pd.to_numeric(df['revenue'], errors='coerce').fillna(0)
df['budget'] = pd.to_numeric(df['budget'], errors='coerce').fillna(0)

# Calcular el retorno de inversión y manejar divisiones por cero
df['return'] = df.apply(lambda row: row['revenue'] / row['budget'] if row['budget'] > 0 else 0, axis=1)

# Imprimir las primeras filas para verificar la creación de la columna 'return'
print(df[['revenue', 'budget', 'return']].head())

       revenue    budget     return
0  373554033.0  30000000  12.451801
1  262797249.0  65000000   4.043035
2          0.0         0   0.000000
3   81452156.0  16000000   5.090760
4   76578911.0         0   0.000000

In [26]:
df.shape

(44862, 33)

In [27]:
# Eliminar las columnas que no se utilizarán
columns_to_drop = ['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage']
df = df.drop(columns=columns_to_drop)
print(df.head())

     budget     id original_language  \
0  30000000    862                en
1  65000000   8844                en
2         0  15602                en
3  16000000  31357                en
4         0  11862                en

                                            overview popularity release_date  \
0  Led by Woody, Andy's toys live happily in his ...  21.946943   1995-10-30
1  When siblings Judy and Peter discover an encha...  17.015539   1995-12-15
2  A family wedding reignites the ancient feud be...    11.7129   1995-12-22
3  Cheated on, mistreated and stepped on, the wom...   3.859495   1995-12-22
4  Just when George Banks has recovered from his ...   8.387519   1995-02-10

       revenue  runtime    status  \
0  373554033.0     81.0  Released
1  262797249.0    104.0  Released
2          0.0    101.0  Released
3   81452156.0    127.0  Released
4   76578911.0    106.0  Released

                                             tagline  ... genre_id  \
0                                                NaN  ...     16.0
1          Roll the dice and unleash the excitement!  ...     35.0
2  Still Yelling. Still Fighting. Still Ready for...  ...  10751.0
3  Friends are the people who let you be yourself...  ...     12.0
4  Just When His World Is Back To Normal... He's ...  ...     14.0

   genre_name             company_name  company_id language_iso_639_1  \
0   Animation  Pixar Animation Studios         3.0                 en
1      Comedy  Pixar Animation Studios         3.0                 en
2      Family  Pixar Animation Studios         3.0                 en
3   Adventure         TriStar Pictures       559.0                 en
4     Fantasy             Teitler Film      2550.0                 fr

  language_name country_iso_3166_1              country_name release_year  \
0       English                 US  United States of America         1995
1       English                 US  United States of America         1995
2       English                 US  United States of America         1995
3       English                 US  United States of America         1995
4      Français                 US  United States of America         1995

      return
0  12.451801
1   4.043035
2   0.000000
3   5.090760
4   0.000000

[5 rows x 27 columns]

In [28]:
df.shape

(44862, 27)

In [31]:
df.shape

(44862, 27)

In [33]:
# Guardar el DataFrame en un archivo CSV con un terminador de línea estándar
df.to_csv('movies_dataset_cleaned.csv', index=False)