In [2]:
import pandas as pd

# Cargar el archivo CSV
credits_df = pd.read_csv('credits.csv')

# Funci贸n para extraer los nombres de los actores
def extract_actor_names(cast):
    if isinstance(cast, str):
        cast_list = eval(cast)
        return ', '.join([actor['name'] for actor in cast_list])
    return ''

# Aplicar la funci贸n a la columna 'cast'
credits_df['actors'] = credits_df['cast'].apply(extract_actor_names)

# Funci贸n para extraer los nombres de los directores
def extract_director_names(crew):
    if isinstance(crew, str):
        crew_list = eval(crew)
        return ', '.join([member['name'] for member in crew_list if member['job'] == 'Director'])
    return ''

# Aplicar la funci贸n a la columna 'crew'
credits_df['directors'] = credits_df['crew'].apply(extract_director_names)

# Crear el DataFrame final con las columnas 'id', 'actors' y 'directors'
final_df = credits_df[['id', 'actors', 'directors']]

# Guardar el DataFrame final en un nuevo archivo CSV
final_df.to_csv('credits_processed.csv', index=False)

# Mostrar las primeras filas del DataFrame final
print(final_df.head())

      id                                             actors        directors
0    862  Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...    John Lasseter
1   8844  Robin Williams, Jonathan Hyde, Kirsten Dunst, ...     Joe Johnston
2  15602  Walter Matthau, Jack Lemmon, Ann-Margret, Soph...    Howard Deutch
3  31357  Whitney Houston, Angela Bassett, Loretta Devin...  Forest Whitaker
4  11862  Steve Martin, Diane Keaton, Martin Short, Kimb...    Charles Shyer

In [3]:
final_df.shape

(45476, 3)

In [4]:
df_sin_duplicados = final_df.drop_duplicates()
print(df_sin_duplicados)

           id                                             actors  \
0         862  Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...
1        8844  Robin Williams, Jonathan Hyde, Kirsten Dunst, ...
2       15602  Walter Matthau, Jack Lemmon, Ann-Margret, Soph...
3       31357  Whitney Houston, Angela Bassett, Loretta Devin...
4       11862  Steve Martin, Diane Keaton, Martin Short, Kimb...
...       ...                                                ...
45471  439050          Leila Hatami, Kourosh Tahami, Elham Korda
45472  111109  Angel Aquino, Perry Dizon, Hazel Orencio, Joel...
45473   67758  Erika Eleniak, Adam Baldwin, Julie du Page, Ja...
45474  227506  Iwan Mosschuchin, Nathalie Lissenko, Pavel Pav...
45475  461257

              directors
0         John Lasseter
1          Joe Johnston
2         Howard Deutch
3       Forest Whitaker
4         Charles Shyer
...                 ...
45471  Hamid Nematollah
45472          Lav Diaz
45473    Mark L. Lester
45474  Yakov Protazanov
45475     Daisy Asquith

[45433 rows x 3 columns]